/Google.GData.AccessControl.dll
/Google.GData.Client.dll
/Google.GData.Documents.dll
/Google.GData.Extensions.dll
/Google.GData.Spreadsheets.dll
/Newtonsoft.Json.DLL
/WorkTimeAutomaticControl.exe
/About_License/
